{% if site.duoshuo_shortname %}
<!-- 多说评论框 start -->
<!--<div class="ds-thread" data-thread-key="{{ site.url }}{{ page.url }}" data-title="{{page.title}}" data-url="{{ site.url }}{{ page.url }}"></div>-->
<!-- <div id="SOHUCS" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="centosl.github.io{{ page.url }}"></div> -->
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<div id="SOHUCS" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="centosl.github.io{{ page.url }}"></div>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js"></script>
<script type="text/javascript">
window.changyan.api.config({
    appid: 'cyte39wYz',
    conf: 'prod_a7c9cabc12e3d58ebd42b2a6ac0ea855'
});
</script>
<!-- 多说公共JS代码 end -->
